/* general */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

/* boby */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, grey, snow);
    height: 100vh;
    width: 100%;
    color: black;
}

/* h1, h2, h3..., p */
h1 {
    text-align: center;
    font-size: 4vw;
    margin: 5vh 0;
}

/* input */
input {
    display: block;
    margin: 1.5vh auto;
    padding: 20px;
    font-size: 20px;
    width: 75%;
}

/* btn & container */
.container-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button {
    display: block;
    width: 200px;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}